a{
    
    margin-right: 2%;
    color: rgb(76, 134, 189);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
blockquote {
    
    color: rgb(76, 134, 189);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center !important;
    padding: 2% 0;
}